<h1>Manage Items</h1>
<p>
    <button type="button" class="btn btn-primary" (click)="state.isInventoryItemCreateVisible.next(true)">Create</button>
    <!--<button type="button" class="btn btn-default" (click)="state.isInventoryItemImportVisible.next(true)">Import</button>-->
    <!--<button type="button" class="btn btn-default">Export</button>
    <button type="button" class="btn btn-default">Print</button>-->
</p>

<inventory-item-list (onSelected)="onItemSelected($event)"></inventory-item-list>

<side-panel name="itemCreate" [visible]="isCreateVisible" (onToggleVisibility)="state.isInventoryItemCreateVisible.next($event)">
  <create-inventory-item-page></create-inventory-item-page>
</side-panel>

<side-panel name="itemDetail" [visible]="isDetailVisible" (onToggleVisibility)="state.isInventoryItemDetailVisible.next($event)">
  <inventory-item-detail [id]="selectedItemId"></inventory-item-detail>
</side-panel>

<side-panel name="itemImport" [visible]="isImportVisible" (onToggleVisibility)="state.isInventoryItemImportVisible.next($event)">
  <import-items-page></import-items-page>
</side-panel>