<table class="table">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Price/Each</th>
      <th>Discount</th>
    </tr>
  </thead>
  <tr>
    <td>1</td>
    <td>$3.99</td>
    <td>0%</td>
  </tr>
  <tr>
    <td>2-9</td>
    <td>$3.49</td>
    <td>6%</td>
  </tr>
  <tr>
    <td>10-49</td>
    <td>$3.00</td>
    <td>10%</td>
  </tr>
  <tr>
    <td>50-99</td>
    <td>$2.75</td>
    <td>14%</td>
  </tr>
  <tr>
    <td>100-999</td>
    <td>$2.65</td>
    <td>18%</td>
  </tr>
  <tr>
    <td>1000+</td>
    <td>$2.15</td>
    <td>30%</td>
  </tr>
</table>